<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <I>This is about us page for the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is about us page for the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is about us page for the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is about us page for the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is about us page for the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
