<% provide(:title, 'Contact') %>
<div style="background-color: rgba(40, 40, 40, 0.9);padding: 20px;color: white">
<h1>Contact</h1>
<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
<p>
<a href="mailto://aryan.ashwani@gmail.com">"Mail Ashwani"</a>
</p>
</div>

