<% provide(:title, 'Help') %>
<div style="background-color: rgba(40, 40, 40, 0.9);padding: 20px;color: white">
<h1>Help</h1>
<p>
  <I>This is help-page of the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is help-page of the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is help-page of the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is help-page of the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is help-page of the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is help-page of the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
<p>
  <I>This is help-page of the KForum application for the all.
  <p>More info coming soon...</p>
</I>
</p>
</div>
