<% for item in @comment_activity_stream %>
	<% @user = find_user(item.user_id) %>
	<blockquote style="padding: 0px;font-size: 10px; font-family: 'Paprika', cursive;color: white ">
		<p style=" font-size: 12px; font-family: 'Paprika', cursive;color: white ; word-wrap:break-word">
			<%= link_to raw(truncate(item.body)), topic_path(Post.find(item.commentable_id).topic_id) %></p>	
		<div class="pull-right">
			<div><%= distance_of_time_in_words_to_now item.created_at %> ago by </div>
			<div style=" font-size: 10px; font-family: 'Paprika', cursive;color: white ;">
				<%= gravatar(@user.username ,@user.email, "width: 20px; height: 20px; padding-right:10px") %></div>
			<div><%= link_to @user.username , "/users/#{item.user_id}" %></div>
		</div>	
	</blockquote>
 	<br />
 	<br />
<% end %>
