<% full_title "New Comment" %>
<div style="width: 700px; background-color: rgba(40, 40, 40, 0.9);padding: 20px;color: white">
	<h4 class="pull-left">You are Commenting on Post :</h4><br /><br />
	<%= raw(@post.content) %><br /><br />
	<%= render 'form' %>
</div>