<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= link_to gravatar_for(@user), @user.username %>
      <h1>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
    
  <div id="topics">  
    <strong>topics</strong>  
      <% @user.topics.each do |topic| %>  
      <%= link_to topic.name, topic_url(topic.id) %>  
      <% end %>  
  </div>  
 
</div>
