<% full_title "Edit Post" %>
<div style="width: 700px; background-color: rgba(40, 40, 40, 0.9);padding: 20px; color: white">
	<h2 class="pull-left">Edit Post</h2><br /><br /><br />
	<%= render 'form' %>
</div>
