<% full_title "New Post" %>
<div style="width: 700px; background-color: rgba(40, 40, 40, 0.9);padding: 20px;color: white">
	<h4 class="pull-left">You are Posting on Topic:</h4><br /><br />
	<%= raw(@topic.name) %><br /><br />
	<%= render 'form' %>
</div>
