@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;

}

/* forms */

textarea {
  border: 1px solid #bbb;
  width: auto;
  padding: 10px;
  height: auto;
  margin-bottom: 35px;
  
 // @include box_sizing;
}

select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 35px;
  @include box_sizing;
}

input {
  border: 1px solid #bbb;
  width: auto;
  padding: 10px;
  height: auto;
  margin-bottom: 35px;
  //@include box_sizing;
}



/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  height: 50px;
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* micropost jQuery countdown */

.countdown {
  display: inline;
  padding-left: 30px;
  color: $grayLight;
}


/* sidebar */

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}


.posted-details, .posted-at{
  margin: 0 20px 10px;
  font-size: 11px;
  font-style: italic;
  color: #888;
  text-align: left;
  font-family: "Open Sans",Verdana,Geneva,sans-serif;
  font: normal 1em/1.6em Georgia,Cambria,"Times New Roman",Times,serif;
}

.post-body {
  font-family: "Open Sans",Verdana,Geneva,sans-serif;
  line-height: 1.4;
  text-align: left;
}

div.hidden { display: none; }

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

/**** and associated tag-cloud styles ****/
/* basic tag-box */
.tag {
  background-color: #eee;
  border: 2px solid #ccc;
  color: black;
  border-radius: 7px;
  -moz-border-radius: 7px;
  padding: 2px 15px;
  text-decoration: none;
}
.current_tag {
  background-color: #ddd;
  color: orange;
  border: 2px solid orange;
  border-radius: 7px;
  -moz-border-radius: 7px;
  font-weight: bold;
}
.tag:hover, .current_tag:hover {
  background-color: #bbb;
  color: black;
  border: 2px solid black;
  border-radius: 7px;
  -moz-border-radius: 7px;
}  

.box-tag {
  //color: #B4D1E6;
  background-color: #E0EAF1;
  //background-color: #54A3BD;
  font-color: black;
  //border-bottom: 1px solid #3E6D8E;
  //border-right: 1px solid #7F9FB6;
  //padding: 3px 4px 3px 4px;
  margin: 2px 2px 2px 0;
  text-decoration: none;
  font-size: 90%;
  //line-height: 2.4;
  white-space: nowrap;

}

a.visited{
  color: #33B5E5;
}