<!--<%= image_tag "blackimage.JPG", {:height => 60,:width => 100 } %>-->
<footer id="footer">
  <div style="border-top: 1px solid rgba(255, 255, 255, 0.1)">	
  <nav>
    <ul>
   	<li><a class="logo" href="https://kforum.ashwani.co.in">KForum</a></li>
	<li><a href=<%=about_path%>>About</a></li>
	<li><a href=<%=contact_path%>>Contact</a></li>
	<li><a href="http://news.google.com/">News</a></li>
	<li><p>&copy; 2012 KForum, Some rights reserved.</p></li>

    </ul>
  </nav>
  </div>
  	<section class="social"> 
		 <a href="mailto:aryan.ashwani@gmail.com"><img alt="Contact Us" src="/images/mail3.png"></a>
		 <a href="http://www.facebook.com/aryan.ashwani" target="_blank"><img alt="Fb"  src="/images/facebook_blue.png"></a>
	</section>

</footer>