<!--<%= image_tag "blackimage.JPG", {:height => 60,:width => 100 } %>-->
<footer id="footer">
  <div style="border-top: 1px solid rgba(255, 255, 255, 0.1)">	
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.google.com/">News</a></li>
    </ul>
  </nav>
  </div>
</footer>
