<br /><br /><br /><br />
<aside class="well well-large" style="border-radius: 6px 6px 6px 6px; " >
  <div>
  	<ul>
     <% menu_for "Articles" do %>
      <li><%= link_to("Forum", forums_path, :class => 'selected') %></li>
     <% end %>
     </ul>
 </div>
</aside>